<template>
  <div class="container">
    <h1 class="red">Kontakt {{ name }}</h1>

    <div class="columns">
      <div class="column">
        <p>adresa:</p>
        <ul>
          <li>Ulice</li>
          <li>atd</li>
          <li>atd</li>
        </ul>
      </div>
      <div class="column">
        <p>Obchodní specifikace</p>
      </div>
    </div>


  </div>
</template>

<script>
  export default {
    asyncData (context) {
      // called every time before loading the component
      return { name: 'index' }
    },
    fetch () {

    },
    head () {

    }
  }
</script>

<style>
  .red {
    color: red;
  }
</style>
