<template>
  <div class="container">
    <h1 class="red">projekty {{ name }}!</h1>
    <p>alksdfkls faf</p>
  </div>
</template>

<script>
  export default {
    asyncData (context) {
      // called every time before loading the component
      return { name: 'index' }
    },
    fetch () {

    },
    head () {

    }
  }
</script>

<style>
  .red {
    color: red;
  }
</style>
