<template>
  <section class="">

    <div id="main-content" class="container is-fluid">

      <h1 class="headline red">Detail projektu</h1>

      <div class="columns">
        <div class="column">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum aliquam neque non luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris pellentesque pulvinar placerat. Donec et nisl eu nulla rhoncus porttitor pellentesque eu tellus. Donec non dapibus est. Integer eu justo efficitur, interdum leo et, condimentum dui. Sed eget aliquet orci. Praesent vitae orci sapien. Aenean et diam et odio aliquet porttitor. Duis sit amet magna nec eros ultricies semper.
<br/>
<br/>
            Quisque placerat, mauris sed maximus mattis, est lectus sagittis augue, tincidunt ullamcorper massa ante ut neque. Donec auctor vel orci condimentum mollis. Etiam hendrerit dui lacus, quis dapibus tellus aliquam ac. Vivamus quam felis, lobortis at egestas vel, malesuada vitae ipsum. Pellentesque aliquet elementum diam vitae vehicula. Sed scelerisque ut libero at mollis. Etiam eget volutpat dolor, in ullamcorper tellus. Fusce posuere in purus id ultrices. Donec imperdiet sem ex, nec tempus nunc molestie vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum dignissim cursus nisl, at auctor nunc molestie eget. Praesent mauris quam, placerat sit amet venenatis quis, euismod at risus. Suspendisse potenti. Aenean auctor sollicitudin massa eu vehicula. Mauris vitae ullamcorper dolor. Nunc accumsan, orci sit amet convallis blandit, purus lacus pharetra neque, in viverra erat ipsum quis mauris.
          </p>
        </div>
        <div class="column">
          <img src="~/assets/images/references/fasadaroku2009-KavarnaUnionka.jpg" alt="" class="image" />
        </div>
      </div>

    </div>
  </section>
</template>
