<!-- -----------------------------------
 -----------------------------------
        THIS IS MAIN LAYOUT
 -----------------------------------
  ----------------------------------->

<template>
  <div>
    <!-- Start: NAVIGATION -->

    <nav class="navbar ">
      <div class="navbar-brand">
        <nuxt-link class="navbar-item" to="/">
          <!--<img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
          Mistav logo
        </nuxt-link>

        <a class="navbar-item is-hidden-desktop" href="https://twitter.com/mistav" target="_blank">
          <span class="icon" style="color: #55acee;">
            <i class="fa fa-envelope"></i>
          </span>
        </a>

        <div class="navbar-burger burger" data-target="navMenubd-example">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenubd-example" class="navbar-menu">
        <div class="navbar-start">


        </div>

        <div class="navbar-end">

          <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/jgthms" target="_blank">
            <span class="icon" style="color: #55acee;">
              <i class="fa fa-mail"></i>
            </span>
          </a>

          <div class="navbar-item">
            <div class="field is-grouped">

              <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                  Projekty
                </div>
                <div id="moreDropdown" class="navbar-dropdown ">
                  <nuxt-link class="navbar-item" to="/projects/project_one">

                    <div class="level is-mobile">
                      <div class="level-left">
                        <div class="level-item">
                          <p>
                            <strong>Projekt 1</strong>
                            <br>
                            <small>rekonstrukce domu</small>
                          </p>
                        </div>
                      </div>
                      <div class="level-right">
                        <div class="level-item">
                          <span class="icon has-text-info">
                            <i class="fa fa-house"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </nuxt-link>
                </div>
              </div>

              <nuxt-link class="navbar-item" to="/about">
                O nás
              </nuxt-link>


              <nuxt-link class="navbar-item" to="/contact">
                Kontakt
              </nuxt-link>

            </div>
          </div>
        </div>

      </div>
    </nav>
    <!-- Start: NAVIGATION -->

    <!-- Start: MAIN YIELD -->
    <nuxt/>
    <!-- End: MAIN YIELD -->

    <!-- Start: FOOTER -->

    <footer id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            footer links<br/>
            link<br/>
            link<br/>
            link<br/>
            link<br/>
            link<br/>
            link<br/>
          </div>
          <div class="col-md-6">
            <span class="pull-right"> Mistav c 2017</span>
          </div>
        </div>
      </div>
    </footer>
    <!-- End: FOOTER -->
  </div>

</template>

<script>
  console.log('haha')
</script>

<style>

  @import '../node_modules/bulma/css/bulma.css';
  @import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

  html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
  }

  .button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
  }

  .button--green:hover {
    color: #fff;
    background-color: #3b8070;
  }

  .button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
  }

  .button--grey:hover {
    color: #fff;
    background-color: #35495e;
  }


</style>
