<template>
  <section class="">

    <div id="main-content" class="container is-fluid">
      <!--<logo/>-->
      <h1 class="title">
        Mistav
      </h1>
      <h2 class="subtitle">
        Stavební společnost
      </h2>

      <div class="columns">
        <div class="column">
          <img src="~/assets/images/references/CS_Hostivar.jpg" alt="" class="image" />
        </div>
      </div>
      <a href="#read-more" type="button" id="homepage-toggle" class="btn">toggles</a>
    </div>

    <div class="container is-fluid">
      <div id="read-more"></div>
      <div class="columns">
        <div class="column">
          <h3>Nadpis kategorie</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis arcu risus. Vivamus ornare scelerisque urna, sit amet rutrum risus gravida id. Maecenas egestas vitae eros id rutrum. Mauris eu tortor varius, scelerisque ipsum vel, suscipit orci. Nunc accumsan ante non sapien semper scelerisque. Praesent quam lacus, porta non justo in, finibus rutrum diam. Duis faucibus lobortis enim maximus semper. Aenean neque leo, malesuada id euismod sed, varius at ligula. Donec nec tempor mi, ac pulvinar ipsum. Nulla id ullamcorper neque. Suspendisse tincidunt odio mauris.
          </p>
        </div>
        <div class="column">
          <div class="row">
            <img src="~/assets/images/references/fasadaroku2009-KavarnaUnionka.jpg" alt="" class="image" />
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <img src="~/assets/images/references/nsp.jpg" alt="" class="image" />
        </div>
        <div class="column">
          <h3>Nadpis kategorie</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis arcu risus. Vivamus ornare scelerisque urna, sit amet rutrum risus gravida id. Maecenas egestas vitae eros id rutrum. Mauris eu tortor varius, scelerisque ipsum vel, suscipit orci. Nunc accumsan ante non sapien semper scelerisque. Praesent quam lacus, porta non justo in, finibus rutrum diam. Duis faucibus lobortis enim maximus semper. Aenean neque leo, malesuada id euismod sed, varius at ligula. Donec nec tempor mi, ac pulvinar ipsum. Nulla id ullamcorper neque. Suspendisse tincidunt odio mauris.
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <h3>Nadpis kategorie</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis arcu risus. Vivamus ornare scelerisque urna, sit amet rutrum risus gravida id. Maecenas egestas vitae eros id rutrum. Mauris eu tortor varius, scelerisque ipsum vel, suscipit orci. Nunc accumsan ante non sapien semper scelerisque. Praesent quam lacus, porta non justo in, finibus rutrum diam. Duis faucibus lobortis enim maximus semper. Aenean neque leo, malesuada id euismod sed, varius at ligula. Donec nec tempor mi, ac pulvinar ipsum. Nulla id ullamcorper neque. Suspendisse tincidunt odio mauris.
          </p>
        </div>
        <div class="column">
            <img src="~/assets/images/references/nsp.jpg" alt="" class="image" />
        </div>
      </div>

      <div class="column">
        <img src="~/assets/images/references/nsp.jpg" alt="" class="image" />
      </div>
      <div class="column">
        <h3>Nadpis kategorie</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis arcu risus. Vivamus ornare scelerisque urna, sit amet rutrum risus gravida id. Maecenas egestas vitae eros id rutrum. Mauris eu tortor varius, scelerisque ipsum vel, suscipit orci. Nunc accumsan ante non sapien semper scelerisque. Praesent quam lacus, porta non justo in, finibus rutrum diam. Duis faucibus lobortis enim maximus semper. Aenean neque leo, malesuada id euismod sed, varius at ligula. Donec nec tempor mi, ac pulvinar ipsum. Nulla id ullamcorper neque. Suspendisse tincidunt odio mauris.
        </p>
      </div>
    </div>




  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style>


</style>
